.saenimate {
    // SPIN
    &.spin,
    &.spin-hover:hover,
    &.spin-focus:focus {
        animation-name: spin;
    } 
    
    // FADE IN
    &.fadeIn,
    &.fadeIn-hover:hover,
    &.fadeIn-focus:focus {
        animation-name: fadeIn;
    }

    // FADE OUT
    &.fadeOut,
    &.fadeOut-hover:hover,
    &.fadeOut-focus:focus {
        animation-name: fadeOut;
    }

    // BLAST IN 
    &.blastIn,
    &.blastIn-hover:hover,
    &.blastIn-focus:focus {
        animation-name: blastIn;
    }

    // BLAST OUT
    &.blastOut,
    &.blastOut-hover:hover,
    &.blastOut-focus:focus {
        animation-name: blastOut;
    }

    // slightSlideInRightToLeft
    &.slightSRL,
    &.slightSRL-hover:hover,
    &.slightSRL-focus:focus {
        animation-name: slightSlideInRightToLeft;
    }

    // slightSlideInLeftToRight
    &.slightSLR,
    &.slightSLR-hover:hover,
    &.slightSLR-focus:focus {
        animation-name: slightSlideInLeftToRight;
    }

    // slightSlideInUpToDown
    &.slightSUD,
    &.slightSUD-hover:hover,
    &.slightSUD-focus:focus {
        animation-name: slightSlideInUpToDown;
    }

    // slightSlideInDownToUp
    &.slightSDU,
    &.slightSDU-hover:hover,
    &.slightSDU-focus:focus {
        animation-name: slightSlideInDownToUp;
    }

    // outOfScreenSlideInRightToLeft
    &.outSRL,
    &.outSRL-hover:hover,
    &.outSRL-focus:focus {
        animation-name: outOfScreenSlideInRightToLeft;
    }

    // inOfScreenSlideOutLeftToRight
    &.inSLR,
    &.inSLR-hover:hover,
    &.inSLR-focus:focus {
        animation-name: inOfScreenSlideOutLeftToRight;
    }

    // outOfScreenSlideInLeftToRight
    &.outSLR,
    &.outSLR-hover:hover,
    &.outSLR-focus:focus {
        animation-name: outOfScreenSlideInLeftToRight;
    }

    // inOfScreenSlideOutRightToLeft
    &.inSRL,
    &.inSRL-hover:hover,
    &.inSRL-focus:focus {
        animation-name: inOfScreenSlideOutRightToLeft;
    }

    // outOfScreenSlideInTopToBottom
    &.outSTB,
    &.outSTB-hover:hover,
    &.outSTB-focus:focus {
        animation-name: outOfScreenSlideInTopToBottom;
    }

    // inOfScreenSlideOutBottomToTop
    &.inSBT,
    &.inSBT-hover:hover,
    &.inSBT-focus:focus {
        animation-name: inOfScreenSlideOutBottomToTop;
    }

    // outOfScreenSlideInBottomToTop
    &.outSBT,
    &.outSBT-hover:hover,
    &.outSBT-focus:focus {
        animation-name: outOfScreenSlideInBottomToTop;
    }

    // inOfScreenSlideOutTopToBottom
    &.inSTB,
    &.inSTB-hover:hover,
    &.inSTB-focus:focus {
        animation-name: inOfScreenSlideOutTopToBottom;
    }
}