.saenimate {
    // SPIN
    &.spin,
    &.spin-hover:hover,
    &.spin-focus:focus {
        animation-name: spin;
    } 
    
    // FADE IN
    &.fadeIn,
    &.fadeIn-hover:hover,
    &.fadeIn-focus:focus {
        animation-name: fadeIn;
    }

    // FADE OUT
    &.fadeOut,
    &.fadeOut-hover:hover,
    &.fadeOut-focus:focus {
        animation-name: fadeOut;
    }

    // BLAST IN 
    &.blastIn,
    &.blastIn-hover:hover,
    &.blastIn-focus:focus {
        animation-name: blastIn;
    }

    // BLAST OUT
    &.blastOut,
    &.blastOut-hover:hover,
    &.blastOut-focus:focus {
        animation-name: blastOut;
    }

    // slightSlideInRightToLeft
    &.slightSRL,
    &.slightSRL-hover:hover,
    &.slightSRL-focus:focus {
        animation-name: slightSlideInRightToLeft;
    }

    // slightSlideInLeftToRight
    &.slightSLR,
    &.slightSLR-hover:hover,
    &.slightSLR-focus:focus {
        animation-name: slightSlideInLeftToRight;
    }

    // outOfScreenSlideInRightToLeft
    &.outSRL,
    &.outSRL-hover:hover,
    &.outSRL-focus:focus {
        animation-name: outOfScreenSlideInRightToLeft;
    }

    // outOfScreenSlideInLeftToRight
    &.outSLR,
    &.outSLR-hover:hover,
    &.outSLR-focus:focus {
        animation-name: outOfScreenSlideInLeftToRight;
    }
}