@keyframes spinC {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinCC {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes halfSpinRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes halfSpinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes pulsate {
  50% {
    transform: scale(2, 2);
  }
}
@keyframes shrink {
  50% {
    transform: scale(0, 0);
  }
}
@keyframes blinking {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blastIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes blastOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes slightSlideInRightToLeft {
  from {
    position: relative;
    right: -100px;
  }
  to {
    position: relative;
    right: 0;
  }
}
@keyframes slightSlideInLeftToRight {
  from {
    position: relative;
    left: -100px;
  }
  to {
    position: relative;
    left: 0;
  }
}
@keyframes slightSlideInUpToDown {
  from {
    position: relative;
    top: -100px;
  }
  to {
    position: relative;
    top: 0;
  }
}
@keyframes slightSlideInDownToUp {
  from {
    position: relative;
    bottom: -100px;
  }
  to {
    position: relative;
    bottom: 0;
  }
}
@keyframes outOfScreenSlideInRightToLeft {
  from {
    position: relative;
    right: -100vw;
  }
  to {
    position: relative;
    right: 0;
  }
}
@keyframes inOfScreenSlideOutLeftToRight {
  from {
    position: relative;
    right: 0;
  }
  to {
    position: relative;
    right: -100vw;
  }
}
@keyframes outOfScreenSlideInLeftToRight {
  from {
    position: relative;
    left: -100vw;
  }
  to {
    position: relative;
    left: 0;
  }
}
@keyframes inOfScreenSlideOutRightToLeft {
  from {
    position: relative;
    left: 0;
  }
  to {
    position: relative;
    left: -100vw;
  }
}
@keyframes outOfScreenSlideInTopToBottom {
  from {
    position: relative;
    top: -100vw;
  }
  to {
    position: relative;
    top: 0;
  }
}
@keyframes inOfScreenSlideOutBottomToTop {
  from {
    position: relative;
    top: 0;
  }
  to {
    position: relative;
    top: -100vw;
  }
}
@keyframes outOfScreenSlideInBottomToTop {
  from {
    position: relative;
    bottom: -100vw;
  }
  to {
    position: relative;
    bottom: 0;
  }
}
@keyframes inOfScreenSlideOutTopToBottom {
  from {
    position: relative;
    bottom: 0;
  }
  to {
    position: relative;
    bottom: -100vw;
  }
}
@keyframes halfFlipXaxis {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
@keyframes flipXaxis {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
@keyframes halfFlipYaxis {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes flipYaxis {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.saenimate.spinC, .saenimate.spinC-hover:hover, .saenimate.spinC-focus:focus {
  animation-name: spinC;
}
.saenimate.spinCC, .saenimate.spinCC-hover:hover, .saenimate.spinCC-focus:focus {
  animation-name: spinCC;
}
.saenimate.hSpinR, .saenimate.hSpinR-hover:hover, .saenimate.hSpinR-focus:focus {
  animation-name: halfSpinRight;
}
.saenimate.hSpinL, .saenimate.hSpinL-hover:hover, .saenimate.hSpinL-focus:focus {
  animation-name: halfSpinLeft;
}
.saenimate.beat, .saenimate.beat-hover:hover, .saenimate.beat-focus:focus {
  animation-name: pulsate;
}
.saenimate.shrink, .saenimate.shrink-hover:hover, .saenimate.shrink-focus:focus {
  animation-name: shrink;
}
.saenimate.flash, .saenimate.flash-hover:hover, .saenimate.flash-focus:focus {
  animation-name: blinking;
}
.saenimate.hFlipX, .saenimate.hFlipX-hover:hover, .saenimate.hFlipX-focus:focus {
  animation-name: halfFlipXaxis;
}
.saenimate.flipX, .saenimate.flipX-hover:hover, .saenimate.flipX-focus:focus {
  animation-name: flipXaxis;
}
.saenimate.hFlipY, .saenimate.hFlipY-hover:hover, .saenimate.hFlipY-focus:focus {
  animation-name: halfFlipYaxis;
}
.saenimate.flipY, .saenimate.flipY-hover:hover, .saenimate.flipY-focus:focus {
  animation-name: flipYaxis;
}
.saenimate.fadeIn, .saenimate.fadeIn-hover:hover, .saenimate.fadeIn-focus:focus {
  animation-name: fadeIn;
}
.saenimate.fadeOut, .saenimate.fadeOut-hover:hover, .saenimate.fadeOut-focus:focus {
  animation-name: fadeOut;
}
.saenimate.blastIn, .saenimate.blastIn-hover:hover, .saenimate.blastIn-focus:focus {
  animation-name: blastIn;
}
.saenimate.blastOut, .saenimate.blastOut-hover:hover, .saenimate.blastOut-focus:focus {
  animation-name: blastOut;
}
.saenimate.slightSRL, .saenimate.slightSRL-hover:hover, .saenimate.slightSRL-focus:focus {
  animation-name: slightSlideInRightToLeft;
}
.saenimate.slightSLR, .saenimate.slightSLR-hover:hover, .saenimate.slightSLR-focus:focus {
  animation-name: slightSlideInLeftToRight;
}
.saenimate.slightSUD, .saenimate.slightSUD-hover:hover, .saenimate.slightSUD-focus:focus {
  animation-name: slightSlideInUpToDown;
}
.saenimate.slightSDU, .saenimate.slightSDU-hover:hover, .saenimate.slightSDU-focus:focus {
  animation-name: slightSlideInDownToUp;
}
.saenimate.outSRL, .saenimate.outSRL-hover:hover, .saenimate.outSRL-focus:focus {
  animation-name: outOfScreenSlideInRightToLeft;
}
.saenimate.inSLR, .saenimate.inSLR-hover:hover, .saenimate.inSLR-focus:focus {
  animation-name: inOfScreenSlideOutLeftToRight;
}
.saenimate.outSLR, .saenimate.outSLR-hover:hover, .saenimate.outSLR-focus:focus {
  animation-name: outOfScreenSlideInLeftToRight;
}
.saenimate.inSRL, .saenimate.inSRL-hover:hover, .saenimate.inSRL-focus:focus {
  animation-name: inOfScreenSlideOutRightToLeft;
}
.saenimate.outSTB, .saenimate.outSTB-hover:hover, .saenimate.outSTB-focus:focus {
  animation-name: outOfScreenSlideInTopToBottom;
}
.saenimate.inSBT, .saenimate.inSBT-hover:hover, .saenimate.inSBT-focus:focus {
  animation-name: inOfScreenSlideOutBottomToTop;
}
.saenimate.outSBT, .saenimate.outSBT-hover:hover, .saenimate.outSBT-focus:focus {
  animation-name: outOfScreenSlideInBottomToTop;
}
.saenimate.inSTB, .saenimate.inSTB-hover:hover, .saenimate.inSTB-focus:focus {
  animation-name: inOfScreenSlideOutTopToBottom;
}

.saenimate.duration-1 {
  animation-duration: 1s;
}
.saenimate.saenimate.duration-2 {
  animation-duration: 2s;
}
.saenimate.saenimate.duration-3 {
  animation-duration: 3s;
}
.saenimate.saenimate.duration-4 {
  animation-duration: 4s;
}

.saenimate.repeat-1 {
  animation-iteration-count: 1;
}
.saenimate.repeat-2 {
  animation-iteration-count: 2;
}
.saenimate.repeat-3 {
  animation-iteration-count: 3;
}
.saenimate.repeat-4 {
  animation-iteration-count: 4;
}
.saenimate.repeat-infinite {
  animation-iteration-count: infinite;
}
.saenimate.forwards {
  animation-fill-mode: forwards;
}
